/********************* Main ************************/

.main-wrapper {
  background-image:  url('../img/Moonlighterbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #202835;
  color: #f6f1ee;
  position: absolute;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  color: #f6f1ee;
  text-decoration: none;
}
/********************* Header ************************/
.navbar { 
  margin: 5px 0 0;
  width: 100%;
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
  font-weight: 200;
  width: 100vw;  
}

.logo-title{
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
  display: inline; 
  position: relative; 
  width: 100%;
}

.intro-title{
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
}
nav{
  float: right;
}

nav ul {
    text-align: center; 
    list-style: none;
    margin: 15px 180px 0 0;
    padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 0px;
  padding: 0 10px;
}




.signin-button {

}

.logout-button {

}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}