/********************* Main ************************/
/** {
  box-sizing: border-box;
}*/

.main-wrapper {
  background-image:  url('../img/Moonlighterbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #202835;
  background-attachment: fixed;
  background-position: fixed;
  color: #e2dfc8;
  margin: 0 auto;
  /*overflow: hidden;*/
}

.questfeed-button-text{
  top: 50%;
  left: 50%;
  /*margin-right: -50%;*/
  transform: translate(-50%, -50%);
}

.questfeed-button {
    text-align: center;
    background-color: #f6f1ee;
    width: 80%;
    padding: 5px 35px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 10px #b2aa6e;
    box-shadow: -6px 0px 35px #f6f1ee;
    color: #202835;
    font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
}
/********************* Header ************************/
.logoBlock{
  display: inline;
}

.navbar { 
  margin: 15px 0 0;
  width: 100%;
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
  font-weight: 200;
  width: 100vw;  
}

.logo-title{
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
  display: inline;
  margin: 40px 0 0 20px;
  padding: 3px; 
  position: relative; 
  width: 100%;
  color:#e2dfc8;
  text-shadow: -1px 0 10px #f6f1ee;
  text-shadow: -10px -1px 20px #f6f1ee;
}

.intro-title{
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
}
nav{
  float: right;
}

nav ul {
    text-align: center; 
    list-style: none;
    margin: 15px 180px 0 0;
    padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 0px;
  padding: 0 10px;
  font-size: 1.2em;
}

.unseen {
  display: none;
}

.nav-button {
  padding: 10px;
  margin: 5px;
  position:static;
}

/********************* LANDING ************************/
.landing-div {
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
  display: inline-block; 
  position: relative; 
  width: 100vw;
  margin: 150px auto;
  text-align: center;
}

.landing-main-title {
  font-size: 5.625rem; /*90px/16px*/
  color:#e2dfc8;
  text-shadow: 0 0 10px #b2aa6e;
  text-shadow: -3px 5px 25px #f6f1ee;
}

.questfeed-button-wrapper {
  width:340px;
  text-align: justify-all;
  margin: 4px 0 2px 50px;
}

.landing-questfeed-button {
    background-color: #f6f1ee;
    border: none;
    padding: 15px 220px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 10px #b2aa6e;
    box-shadow: -2px -5px 25px #f6f1ee;
}
.landing-questfeed-button-text { 
  color: #202835;
}
/*
.animate-fade{}


.animate-fade.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
}

.animate-fade.ng-enter,
.animate-fade.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-fade.ng-leave,
.animate-fade.ng-enter.ng-enter-active {
  opacity:1;
}*/
/********************* QUEST FEED ************************/
.container-quests {
  perspective: 800px;
}

.container{
  width:400px;
  height:280px;
  position: relative;
}

.quests {
    /*margin-left: 10rem;*/
    top:50%;
    right:50%;
    margin: 0 auto;

}

.newquest-button {
  margin-bottom: 25px;
  position: relative;
  left:44%;
} 

.quests {
  margin-top: 150px;
  margin-left: 12%;
}

.questCard {
  text-align:center;
  position: relative;
  width: 350px;
  height: 200px;
  margin: 15px;
  float:left;
}

.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #202835;
  font-family:200;
}

.questimage {
  position: relative;
  width: 100%;
}

.newquest-button {
  position: relative;
} 

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.face.front {
  font-family: 'Poiret One', 'Hammersmith One', 'Quicksand', sans-serif;
  background-image: url("../img/parchment.jpg");
  font-size: 2rem;
}

.face.back {
  font-size: 1.2rem;
  display: block;
  box-sizing: border-box;
  padding: 20px;
  color: #202835;
  text-align: left;
  background-image: url("../img/parchment.jpg");
}

.quest-title-div {
  display: block;
  width: 100%;
}

.quest-title-div {
  display: block;
  width: 100%;
}

.questinfo {
  margin-left:60px;
}

.back-info {
  font-family: 'Poiret One', 'Hammersmith One', 'Quicksand', sans-serif;
  font-weight: 800;
}

/********************* ANIMATION ************************/

.card {
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.card:hover .front{
  transform: rotateY(-180deg);
}

.card:hover .back {
 transform: rotateY(0deg);
}
.face {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.face.front {
  transform: rotateY(0deg);
} 

.face.back {
  transform: rotateY(180deg); 
}

.title-on-card {
  font-size: 1.3rem;
  font-weight: 900;
  float: left;
  margin-left: 30px;
}
/********************* QUEST PROFILE ************************/
/*.questProfile {
  position: relative;
  margin-top: 50px; 
  display:inline-block;
}

.quest-button-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.quest-details {
  margin-top:50px;*/
}
/********************* NEW QUESTS ************************/
.newQuest-profile {
  position: relative;
  margin-top: 50px;
}

.newquest-button{
  background-color: #f6f1ee;
  border: none;
  padding: 5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 10px #b2aa6e;
  box-shadow: -3px -1px 35px #f6f1ee;
  color: #202835;
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
}

/********************* OMNIPRESENT ************************/

a {
  color: #e2dfc8  ;
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

/********************* USER PROFILE ***********************/

/*html, body { height: 100%; padding: 0; margin: 0; }*/
#tl, #tr, #bl, #br  { 
    width: 45%; 
    height: 45%;
    float: left;
    float: left;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    /* margin-bottom: 5px; */
    /* margin-left: inherit; */
    border-radius: 10px;
    /*position: initial;*/
    /* border-right: 4px; */}

.scroll { height: 100%; padding: 0; margin: 0; }


.center {
    margin: auto;
    width: 35%;
    padding: 10px;
}

