/********************* Main ************************/

.main-wrapper {
  background-image:  url('../img/Moonlighterbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #202835;
  color: #f6f1ee;
  position: absolute;
}

a {
  color: #f6f1ee;
  text-decoration: none;
}
/********************* Header ************************/
.logo-title{
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
}

.intro-title{
  font-family: 'Cinzel Decorative', 'Hammersmith One', 'Quicksand', sans-serif;
}

.navbar { 
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}


.header-title {
  background: red;
  display: block;
  float: left;
  margin:15px 50px;
}

.signin-button {
  background: green;
  display: block;
  float: right;
  margin:15px 50px;
}

.logout-button {
  background:green;
  display: block;
  float: right;
  margin:15px 50px;

}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}