<div ng-controller="EditQuestCtrl" style="padding-left:20px; padding-right: 20px">
  <div class="container">
    <h1>New Quest</h1>
    <hr />
    <form>
      <fieldset>
        <label for="questTitle">Quest Title:</label>
        <input id="questTitle" type="text" placeholder="Title of your Quest..." />
        <label for="questTitle">Quest Title:</label>
        <input id="questTitle" type="text" placeholder="Title of your Quest..." />
        <label for="questTitle">Quest Title:</label>
        <input id="questTitle" type="text" placeholder="Title of your Quest..." />
        <label for="questTitle">Quest Title:</label>
        <input id="questTitle" type="text" placeholder="Title of your Quest..." />
        <br />
      </fieldset>
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default">Cancel</button>
        
    </form>
  </div>
</div>