<div class="navbar">
    <a ui-sref="home">
      <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
    </a>
  <nav>
    <ul>
      <a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="nav-button">Log out</a>
      <a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="nav-button">Sign in</a>
      <a ng-if='isLogin' ui-sref="barracks" class="nav-button">Barracks</a>
      <a ng-if='seeAbout' ui-sref="about">About</a>
      <!-- <li><a href="contact.html">Contact</a></li> -->
    </ul>
  </nav>
</div>  

      <div class="user-info" ng-if="username">
        <h3>{{username}}</h3>
        <img src="{{photo}}" ng-click="setUser" style="border-radius: 50%;" height="55" width="55">
      </div>
