<div class="navbar" ng-controller="NavCtrl">
  <a ui-sref="home">
    <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="logout-button">Log out</a></li>
      <li><a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="signin-button">Sign in</a></li>
      <li><a ui-sref="questFeed" class="nav-button">Back to the Quests!</a></li>
      <li><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
      <li><h3 ng-click="setUser()">{{username}}</h3></li>
    </ul>
  </nav>
</div>  


<div>
  <h1>How to Use</h1>
  <p>To turn a Github issue into a quest, simply tag @moonlighter-bot in the comments.</p>
  <h1>About Moonlighter</h1>
  <p>Moonlighter was a 4-week project developed by 
  <a href='https://github.com/richardjboothe' target="_blank">Richard</a>, <a href='https://github.com/ion99' target="_blank">Ion</a>, <a href="https://github.com/matjkel" target="_blank">Matt</a>, <a href="https://github.com/dalyhabit" target="_blank">Patrick</a>, and <a href="https://en.wikipedia.org/wiki/Internet_troll#/media/File:Troll_school.jpg" target="_blank">Jack</a>.</p>
</div>
