<div class='navbar' ng-controller="NavCtrl">
  <nav>
    <ul>
      <li><img ng-if="username" src="{{photo}}" ng-click="setUser" style="border-radius: 50%;" height="55" width="55"></li>
      <li><h3>{{username}}</h3></li>
      <li><a href="/auth/logout" class="logout-button" ng-if="isLogin" ng-click="logOut()" >Log out</a></li>
      <li><a href="/auth/github" class="signin-button" ng-if="!isLogin" ng-click="signIn()" >Sign in</a></li>
      <li><a ui-sref="questFeed" class="nav-button">Back to the Quests!</a></li>
    </ul>
  </nav>  
</div>


<div>
  <h1>How to Use</h1>
  <p>To turn a Github issue into a quest, simply tag @moonlighter-bot in the comments.</p>
  <h1>About Moonlighter</h1>
  <p>Moonlighter was a 4-week project developed by 
  <a href='https://github.com/richardjboothe' target="_blank">Richard</a>, <a href='https://github.com/ion99' target="_blank">Ion</a>, <a href="https://github.com/matjkel" target="_blank">Matt</a>, <a href="https://github.com/dalyhabit" target="_blank">Patrick</a>, and <a href="https://github.com/clambodile" target="_blank">Jack</a>.</p>
</div>
