<div class="navbar" ng-controller="NavCtrl">
  <a ui-sref="home">
    <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
  </a>
  <nav>
  <ul>
    <li><a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="logout-button">Log out</a></li>
    <li><a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="signin-button">Sign in</a></li>
    <li><a ui-sref="questFeed" class="nav-button">Back to the Quests!</a></li>
    <li class="clickable"><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
    <li class="clickable"><h2 ng-click="setUser()">{{username}}</h2></li>
  </ul>
  </nav>
</div>
<div>
<div id="faqTitle">
  <h1>F.A.Q.</h1>
</div>
<div class="faq">
<div id="question">
  <h2> Q: What is Moonlighter?</h2>
</div>
  <p> A: Moonlighter is a game you play by being productive!</p>

  <p>When you connect your github account to Moonlighter, you will be rewarded with experience points any time you make a contribution.</p>

<div id="question">
  <h2> Q: What counts as a contribution?</h2>
</div>
  <p> A: Commits, issues, or anything else that Github counts as a contribution, we count as a contribution.</p>

<div id="question">
  <h2> Q: How do I sign up?</h2>
</div>
  <p> A: Click the SIGN IN button on the top right, and you will be redirected to Github. When you grant Moonlighter permission to view your page, you will be directed back to the main page.</p>

<div id="question">
  <h2> Q: How do I play?</h2>
</div>
  <p> A: Playing can be as simple as continuing to contribute on Github like you always have. You can periodically check back to see your character level up.</p>

  <p>You may also participate in quests! Quests are simply Github issues that have been connected to Github. You can create a quest by commenting '@moonlighter-bot' in the comments or body of an issue.</p>
  </div>
  </div>
  <div class="aboutus">

  <h1>About Moonlighter</h1>
  <p>Moonlighter was a 4-week project developed by
  <a href='https://github.com/richardjboothe' target="_blank"><strong>Richard</strong></a>, <a href='https://github.com/ion99' target="_blank"><strong>Ion</strong></a>, <a href="https://github.com/matjkel" target="_blank"><strong>Mat</strong></a>, <a href="https://github.com/dalyhabit" target="_blank"><strong>Patrick</strong></a>, and <a href="https://github.com/clambodile" target="_blank"><strong>Jack</strong></a>.</p>
</div>
