<div class="navbar" ng-controller="NavCtrl">
  <a ui-sref="home">
    <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="logout-button">Log out</a></li>
      <li><a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="signin-button">Sign in</a></li>
      <li><a ui-sref="questFeed" class="nav-button">Back to the Quests!</a></li>
      <li class="clickable"><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
      <li class="clickable"><h3 ng-click="setUser()">{{username}}</h3></li>
    </ul>
  </nav>
</div>  

<div class='tbd'>
  <!-- <audio src="../img/swords.mp3" autoplay></audio> -->
  <h1 class='barracks-title'>The Barracks</h1>
<!--   <h3>Your challenge awaits</h3> -->
<!--   <div class='scroll barrack-rules'>
    
</div>   -->  
<div class="codeFormContainer"> 
  <div>
    <form ng-show="myValue" class="ng-hide">
    <!-- <form> -->
     Codewars username<input type="text" ng-model="userData.cwUsername" required="required"/></br>
     Codewars API key<input type="text" ng-model="userData.cwUserAPI" required="required"/><a ui-sref="about"><em>  Why do we need this?</em></a></br>
     <input type='submit' ng-click="cwInsert()"></br>
   </form> 
 </div> 
 <div>
  <select name="nextChallenge" ng-model='challengeType'>
    <option value="default" select>Just Getting To The Next Level</option> 
    <option value="random">Random: Feeling Lucky?</option>
    <option value="kyu_8_workout">1. Do You Even Code, Bro?</option>
    <option value="kyu_7_workout">2. Not Quite A Challange</option>
    <option value="kyu_6_workout">3. Now We're Talking</option>
    <option value="kyu_5_workout">4. Not Impossible, Not A Picnic Either</option>
    <option value="kyu_4_workout">5. This Is What Programming Feels Like</option>
    <option value="kyu_3_workout">6. You Think You're Hot Shit?</option>
    <option value="kyu_2_workout">7. Legendary!!!</option>
    <option value="kyu_1_workout">8. You're A Wizard!</option>
  </select>
  <span>{{challengeType}}</span>
  <button ng-click=cwChallenge()>Test Your Ability</button>
 </div>
</div>
 </div>
</div>

<!--NEED FORM VALIDATION -->


<div class="mainBarrack">

  <h2>Challenge Description: </h2>
  
    <div>{{description}}</div>
    <!--   <br> -->

</div>
<!-- <h4 id="sandWrtie">Write your code below...</h4>
-->
<div class="sandy">
  <div class="challName">
    <h4>{{name}}</h4>
  </div>
  <div class="sandBack">

    <div class="sandbox">

      <textarea ui-codemirror ui-codemirror-opts="editorOptions" ng-model="setup"></textarea>

    </div>

 

  </div>
  <div class="exBack">
     <div class="example">
      <textarea ui-codemirror ui-codemirror-opts="editorOptions" style="max-height:15%; min-height:5%;" ng-model="example"></textarea>
    </div>
  </div>

  <div class='cwsubmit'>
      <ul>
        <li><input type='button' value='test answer' ng-click='cwSolution()' /></li>
        <li><input type='button' value='submit final answer' ng-click='cwFinalSolution()' /></li>
      </ul>
    </div>
</div>
<div class="userChar">
  {{character}}
</div>
<!-- <div>
  <h5 id="inspire">LET'S DO THIS!</h5>
</div> -->

