<div class="navbar" ng-controller="NavCtrl">
  <a ui-sref="home">
    <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="logout-button">Log out</a></li>
      <li><a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="signin-button">Sign in</a></li>
      <li><a ng-if='seeAbout' ui-sref="about">About</a></li>
      <li><a ui-sref="questFeed" class="nav-button">Back to the Quests!</a></li>
      <li><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
      <li><h3 ng-click="setUser()">{{username}}</h3></li>
    </ul>
  </nav>
</div>  

<div class='main container'>
  <audio src="../img/swords.mp3" autoplay></audio>
  <h1 class='barracks-title'>The Barracks</h1>
  
  <h3>Your challenge awaits</h3>
  <div class="mainBarrack">
  
    <div class="barrack">
      <img src="../img/barrack.png">
    </div>

  </div>
  
  <div class="sandbox">
  
  <textarea ui-codemirror></textarea>
<ui-codemirror ui-codemirror-opts="editorOptions"></ui-codemirror>
<div ui-codemirror="{ onLoad : codemirrorLoaded }" ></div>
  <!-- <div ui-codemirror></div> -->
  </div>
</div>
