<div class="navbar" ng-controller="NavCtrl">
  <a ui-sref="home">
    <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="logout-button">Log out</a></li>
      <li><a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="signin-button">Sign in</a></li>
      <li><a ui-sref="questFeed" class="nav-button">Back to the Quests!</a></li>
      <li class="clickable"><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
      <li class="clickable"><h3 ng-click="setUser()">{{username}}</h3></li>
    </ul>
  </nav>
</div>  

<div class='tbd'>
  <!-- <audio src="../img/swords.mp3" autoplay></audio> -->
    <h1 class='barracks-title'>The Barracks</h1>
    <div class="codeFormContainer"> 
      <div>
        <form ng-show="myValue" class="ng-hide">
      <!-- <form> -->
        <div id="cwUserNameInsert" class="inputBox" >
          Codewars username<input class="inputBox" type="text" ng-model="userData.cwUsername" required="required" placeholder="CodeWars Username goes here!" />
        </div>
        <div id="cwAPIinsert" >
            Codewars API key
            <div class="inputBox">
              <input type="text" ng-model="userData.cwUserAPI" required="required" placeholder="CodeWars API Key goes here!"/>
            </div>
        </div>
        <div id="submitChallengeReq">
          <input type='submit' ng-click="cwInsert()">
        </div>
      </form> 
    </div> 
  </div>
</div>
<div class='codeFormContainer'>
  <div class="nextChallengeSelector">
    <select name="nextChallenge" ng-model='challengeType'>
      <option value="default" select>Just Getting To The Next Level</option> 
      <option value="random">Random: Feeling Lucky?</option>
      <option value="kyu_8_workout">1. Do You Even Code, Bro?</option>
      <option value="kyu_7_workout">2. Not Quite A Challange</option>
      <option value="kyu_6_workout">3. Now We're Talking</option>
      <option value="kyu_5_workout">4. Not Impossible, Not A Picnic Either</option>
      <option value="kyu_4_workout">5. This Is What Programming Feels Like</option>
      <option value="kyu_3_workout">6. You Think You're Hot Shit?</option>
      <option value="kyu_2_workout">7. Legendary!!!</option>
      <option value="kyu_1_workout">8. You're A Wizard!</option>
    </select>
  </div>
  <div class="nextChallengeSubmit">
    <button ng-click=cwChallenge()>Test Your Ability</button>
  </div>
</div>
  <div class="codeFormContainer">
    <div>Challenge Title:</div> 
    <div id='chalTitle'><h4>{{name}}</h4></div>
  </div>

<!--NEED FORM VALIDATION -->

 <div ng-if="spinner" class="barracksLoader">
    <div id="topSpin">
      <img src="../img/gears.gif">
    </div>
    <div id="spinner-load">
      <h3>Loading...</h3>
    </div>
  </div>
<div ng-if="!spinner && description" class="mainBarrack">
  <div class="challengeDetails">
  <div class="challengeName">
    <h2 style="padding:10px;">Challenge Description: </h2>
  </div>
 
    <pre style="white-space:pre-wrap;padding:10px;"><code class="html">{{description}}</code></pre>
  </div>
</div>

<div class="sandy">
  <div class="sandBack">
    <div class="sandbox">
      <textarea ui-codemirror ui-codemirror-opts="editorOptions" ng-model="setup"></textarea>
    </div>
  </div>
  <div class="exBack">
     <div class="example">
      <textarea ui-codemirror ui-codemirror-opts="editorOptions" style="max-height:15%; min-height:5%;" ng-model="example"></textarea>
    </div>
  </div>

  
    <input type='button' value='test answer' ng-click='cwSolution()' />
    <input type='button' value='submit final answer' ng-click='cwFinalSolution()' />
  
</div>
<div class="userChar">
  {{character}}
</div>


