<div ng-controller="NavCtrl">
  <div class='navbar'>
 <!--    <div ng-if="notify" class="notification">
      <h3>You have {{unseenContribs}} new contributions!</h3>
      <button ng-click="removeNotification()">Dismiss</button>
    </div> -->
    <nav>
      <ul>
        <li><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
        <li><h3 ng-click="setUser()">{{username}}</h3></li>
        <li><a href="/auth/logout" class="logout-button" ng-if="isLogin" ng-click="logOut()" >Log out</a></li>
        <li><a href="/auth/github" class="signin-button" ng-if="!isLogin">Sign in</a></li>
      </ul>
    </nav>  
  </div>
  <div class="landing-div">
    <h1 class="landing-main-title animate-fade">Moonlighter</h1>
  </div>

  <div class="navbar">
      <a ui-sref="home">
        <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
      </a>
    <nav>
      <ul>
        <li><a class="landing-questfeed-button-text" ui-sref="questFeed" ng-click="removeNotification()">
              <span class="landing-questfeed-button">
                Conjure Quests
              </span>
            </a>
        </li>
        <li><a ui-sref="questFeed" ng-click="removeNotification()">Quests</a></li>
        <li><a ng-if='seeAbout' ui-sref="about" ng-click="removeNotification()">About</a></li>
        <li><a ng-if='isLogin' ui-sref="barracks" class="nav-button" ng-click="removeNotification()">Barracks</a></li>
      </ul>
    </nav>
  </div>  
</div>
