<div ng-controller="NewQuestCtrl" style="padding-left:20px; padding-right: 20px">
  <div class="container">
    <h1>New Quest</h1>
    <hr/>
    <form>
      <fieldset>
        <label for="questTitle">Quest Title:</label>
        <input id="questTitle" type="text" ng-model="newQuest.title" placeholder="Title of your Quest..."/>
        <span ng-show="titleRequired">{{titleRequired}}</span>
        <label for="questDescription">Quest Description:</label>
        <input id="questDescription" type="text" ng-model="newQuest.description" placeholder="Description of your Quest..."/>
        <span ng-show="descriptionRequired">{{descriptionRequired}}</span>
        <label for="questTech">Quest Tech Stack:</label>
        <input id="questTech" type="text" ng-model="newQuest.tech" placeholder="Tech stack for your Quest..."/>
        <span ng-show="techRequired">{{techRequired}}</span>
        <label for="questURL">Quest URL:</label>
        <input id="questURL" type="text" ng-model="newQuest.url" placeholder="Github URL for your Quest..."/>
        <span ng-show="urlRequired">{{urlRequired}}</span>
        <label for="questBounty">Quest Bounty:</label>
        <input id="questBounty" type="text" ng-model="newQuest.bounty" placeholder="Quest Bounty..."/>
        <span ng-show="bountyRequired">{{bountyRequired}}</span>
        <br/>
      </fieldset>
      <br/>
      <br/>
      <button type="submit" ng-click="addQuest()" class="btn btn-primary">Save</button>
      <span>{{questCreated}}</span>
      <!-- <button type="button" class="btn btn-default">Cancel</button> -->
      <span>{{newQuest}}</span>
    </form>
  </div>
</div>