<div class="newQuest-profile">
  <div class="questfeed-button-wrapper">
    <a class="questfeed-button-text" ui-sref="questFeed">
      <span class="questfeed-button">
        Return to the Quest Scrolls
      </span>
    </a>
  </div>
  <div class="container">
    <h1>New Issue</h1>
    <hr/>
    <form>
      <fieldset>
        <div id="questTitle">
          <label for="questTitle">Issue Title:</label>
          <input id="questTitle" type="text" ng-model="newQuest.title" placeholder="Title of your Quest..."/>
          <span ng-show="titleRequired">{{titleRequired}}</span>
        </div>
        <div id="questDescription">
          <label for="questDescription">Issue Description:</label>
          <input id="questDescription" type="text" ng-model="newQuest.description" placeholder="Description of your Quest..."/>
          <span ng-show="descriptionRequired">{{descriptionRequired}}</span>
        </div>
        <div id="questTech">
          <label for="questTech">Issue Tech Stack:</label>
          <input id="questTech" type="text" ng-model="newQuest.tech" placeholder="Tech stack for your Quest..."/>
          <span ng-show="techRequired">{{techRequired}}</span>
        </div>
        <div id="questURL">
          <label for="questURL">Issue URL:</label>
          <input id="questURL" type="text" ng-model="newQuest.url" placeholder="Github URL for your Quest..."/>
          <span ng-show="urlRequired">{{urlRequired}}</span>
        </div>
        <div id="questBounty">
          <label for="questBounty">Issue Bounty:</label>
          <input id="questBounty" type="number" ng-model="newQuest.bounty" placeholder="Quest Bounty..."/>
          <span ng-show="bountyRequired">{{bountyRequired}}</span>
        </div>
        <br/>
      </fieldset>
      <br/>
      <br/>
      <button type="submit" ng-click="addQuest()" class="btn btn-primary">Save</button>
      <span>{{questCreated}}</span>

      <span>{{newQuest}}</span>

    </form>
  </div>
</div>

