<div class="navbar" ng-controller="NavCtrl">
  <a ui-sref="home">
    <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="logout-button">Log out</a></li>
      <li><a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="signin-button">Sign in</a></li>
      <li><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
      <li><h3 ng-click="setUser()">{{username}}</h3></li>
    </ul>
  </nav>
</div>  

<div>
  <div id="center">
    <a class="questfeed-button" ui-sref="questFeed">
      <span class="questfeed-button-text">
        Return to the Quest Scrolls
     </span>
    </a>
  </div>
   <hr /><!--  <h2>Issue Name: </h2> -->
  <!-- <div class="ownerProfileButton">{{chosenQuest.owner.profile}}</div> -->
  <center>
  <div class="center" style="background-image: url(../img/parchment.jpg); background-size: cover; color: black">
  <center><h1 style="margin-top: 0; text-decoration: underline;">{{chosenQuest.title}}</h1></center>
  <div>
    <h2>Description:<br><h3>{{chosenQuest.body}}</h3></h2> 
    <!-- <h3>{{chosenQuest.body}}</h3> -->
  </div>
<div style="display: inline-flex;">  
    <h3 style="float: left; margin-bottom: 0px; margin-top: 30px;">Creator: {{chosenQuest.user}}</h3>
    <p style="text-decoration: underline; float: right; padding-left: 80px; margin-bottom: 0px; margin-top: 30px;">Date Created: {{chosenQuest.created_at}}</p>
</div>
  </div>
  </center>
  
  <div id="center">  
    <a href="{{chosenQuest.issue_url}}" target="_blank" class="githubLink"><button>Github Issue Link</button></a>
    <button ng-if="!questOwner && signedIn && !alreadyMember" ng-click="joinQuest(currentUser.user_id, chosenQuest.id)" class="joinQuestButton">Join Quest</button>
    <button ui-sref="userProfile" class="ownerProfileButton">{{chosenQuest.user}}'s Profile</button>
  </div>  
  <footer>   <!-- <p>Bounty: {{chosenQuest.bounty}}</p> -->
  <div class="close-quest" ng-if="questOwner && closedStatus">
    <button ng-click="closeQuest()" class="closeQuestButton">Close Quest & Pay Out</button>
    <span class="error-message">{{errorMessage}}</span>
    <select ng-model="userToPay" required="Required">
      <option ng-repeat="member in questMembers" value="{{member.id}}">{{member.github_username}}</option>
    </select>
  </div>
  <div class="center">
    <h2>Quest Members</h2>
    <ul>
      <li ng-repeat="user in questMembers">
        <h3>{{user.github_username}}</h3>
      </li>
    </ul>
  </div>
  </footer> 
</div>
