<div class="container-quests">
    <a ui-sref="newQuest" class="newquest-button">Add a quest!</a>
    <div class="quests">
      <div class="questCard" ng-repeat="quest in quests">
        <a ng-click="selectQuest(quest)" ui-sref="questProfile">  
          <div class="card">
            <div class="quest-card-face quest-face-front">
              <h3 class="questinfo"><span>{{quest.title}}<br />Bounty: {{quest.bounty}}</span></h3>
            </div>
              <div class="quest-card-face quest-face-back">
                <img class="questmap" src="../../img/parchment.sketch">
                <span class="back-info"><p>{{quest.description}}<br /> Stack: {{quest.stack}}</p></span>
            </div>
          </div>
          </a>
      </div>
    </div>    
</div> 
