<div class="navbar" ng-controller="NavCtrl">
  <a ui-sref="home">
    <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="logout-button">Log out</a></li>
      <li><a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="signin-button">Sign in</a></li>
      <li><a ng-if='isLogin' ui-sref="barracks" class="nav-button">Barracks</a></li>
      <li class="clickable"><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
      <li class="clickable"><h3 ng-click="setUser()">{{username}}</h3></li>
    </ul>
  </nav>
</div>  

<div  id="center"class="questfeed-button-wrapper">
  <a class="questfeed-button" ui-sref="questFeed">
    <span class="questfeed-button-text">
      Return to the Quest Scrolls
   </span>
  </a>
</div>

<div class="quest-profile">
  <div class="quest-header">
    <span class="q-title">{{chosenQuest.title}}</span>
    <span class="quest-owner">by: {{chosenQuest.user}}</span>
  </div>
  <div class='quest-details'>
    <div class="quest-description">
      <p>{{chosenQuest.body}}</p>
    </div>

     <div class="quest-members">
      <p>Quest Members:</p>
      <ul>
        <li ng-repeat="user in questMembers">
          <h3>{{user.github_username}}</h3>
        </li>
      </ul>
    </div>
  </div>

  <div class="quest-footer">
    <span id="left-footer">
      <p>${{questBounty}}</p>
      <p>{{chosenQuest.created_at}}</p>
    </span>
    <span>
      <a href="{{chosenQuest.issue_url}}" target="_blank" class="githubLink"><button>Github Issue Link</button></a>
      <button ng-if="!questOwner && signedIn && !alreadyMember && chosenQuest.status !== 'closed'" ng-click="joinQuest(currentUser.user_id, chosenQuest.id)" class="joinQuestButton">Join Quest</button>
      <button ui-sref="userProfile" class="ownerProfileButton">{{chosenQuest.user}}'s Profile</button>
    </span>
  </div>
</div>
    

  <div class="close-quest" ng-if="questOwner && closedStatus">
    <button ng-click="closeQuest()" class="closeQuestButton">Close Quest & Pay Out</button>
    <select ng-model="userToPay.user" required="Required">
      <option value="" disabled selected hidden>Choose the user who solved your issue..</option>
      <option ng-repeat="member in questMembers" value="{{member.id}}">{{member.github_username}}</option>
    </select>
  </div>

