<div class="questProfile">
  <div class="questfeed-button-wrapper">
    <a class="questfeed-button" ui-sref="questFeed">
      <span class="questfeed-button-text">
        Return to the Quest Scrolls
      </span>
    </a>
  </div>
</div>
<div class="quest-details">
  <!-- <div class="ownerProfileButton">{{chosenQuest.owner.profile}}</div> -->
  <div class="questDescription book">
    <h1>{{chosenQuest.title}}</h1>
    <div class="questDescription">
      <p>Description: {{chosenQuest.description}}</p>
    </div>
    <p>Stack: {{chosenQuest.stack}}</p>
    <!-- <p>{{chosenQuest.roles}}</p> -->
    <p>Bounty: {{chosenQuest.bounty}}</p>
    <p>Date Created: {{chosenQuest.createdAt}}</p>
  <button ui-sref="userProfile" class="ownerProfileButton">{{chosenQuest.user_name}}'s Profile</button>
  <button ng-if="questOwner" ng-click="deleteQuest()" ui-sref="questFeed" class="deleteQuestButton">Delete Quest</button>
  </div>
  <span>{{loggedInUser}}</span>
</div>