<div class="navbar" ng-controller="NavCtrl">
  <a ui-sref="home">
    <h1 class="logo-title" ng-if="seen">Moonlighter</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/auth/logout" ng-if="isLogin" ng-click="logOut()" class="logout-button">Log out</a></li>
      <li><a href="/auth/github" ng-if="!isLogin" ng-click="signIn()" class="signin-button">Sign in</a></li>
      <li><a ng-if='seeAbout' ui-sref="about">About</a></li>
      <li><a ng-if='isLogin' ui-sref="barracks" class="nav-button">Barracks</a></li>
      <li><img ng-if="username" src="{{photo}}" ng-click="setUser()" style="border-radius: 50%;" height="55" width="55"></li>
      <li><h3 ng-click="setUser()">{{username}}</h3></li>
    </ul>
  </nav>
</div>  

<div class="container-quests">
    <div class="quests">
      <div class="questCard" ng-repeat="quest in issues">
        <a ng-click="selectIssue(quest)" ui-sref="questProfile">  
          <div class="card">
            <div class="face front">
              <div class="quest-title-div">
                <p class="title-on-card">Issue title</p>
                <h3 class="questinfo"><span>{{quest.title}}</span></h3>
              </div>
              <div class="quest-bounty-div">
                <!-- <p class="title-on-card">URL</p>
                <h3 class="questinfo"><span>{{quest.issue_url}}</span></h3> -->
              </div>
            </div>
              <div class="face back">
                <span class="back-info"><p> Description: {{quest.body}}</p></span>
                <span class="back-info"><p> Status: {{quest.status}}</p></span>
            </div>
          </div>
          </a>
      </div>
    </div>    
</div> 